.get-started-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.get-started-text {
    align-self: flex-start;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.get-started-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.get-started-form-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;

    margin-bottom: 1rem;
}

.get-started-form-row-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
}


.get-started-form-row input {
    background-color: gray;
    padding: 1rem;
}

.get-started-form-submit {
    align-self: center;
    margin: auto;
}

.get-started-form-submit button {
    
    
    padding: 1rem;
    background-color: darkgoldenrod;
    color: white;
    font-weight: bold;
}

/* Popup Menu */
.get-started-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.get-started-popup.active {
    opacity: 1;
    visibility: visible;
}

.get-started-popup-box {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    width: 300px;
    height: auto;
    overflow: hidden;

    transform: translateY(-100vh);
    transition: transform 0.5s ease-in-out;
}

.get-started-popup.active .get-started-popup-box {
    transform: translateY(0);
}

.get-started-popup-icon-container {
    z-index: 1;
    background-color: #f65655;
    width: 100%;
    height: 100px;
    justify-content: center;
    padding: 20px;
}

.get-started-popup-icon {
    display: flex;
    margin: auto;
    height: 100%;
}


.get-started-popup-text {
    color: #3a4362;
    align-self: center;
    margin: 20px;
    font-size: bolder;
    font-weight: 600;
    text-align: center;
}

.get-started-popup-button {
    font-weight: bold;
    color: white;
    align-self: center;
    padding: 10px 20px;
    background-color: #f65655;
    border-radius: 5px;
    margin: 10px;
}

.get-started-popup.success .get-started-popup-icon-container {
    background-color: #28a745;  /* a success color (you can choose any) */
}

.get-started-popup.error .get-started-popup-icon-container {
    background-color: #f65655;  /* the error color you already had */
}

.get-started-popup.success .get-started-popup-button {
    background-color: #28a745;
}

.get-started-popup.error .get-started-popup-button {
    background-color: #f65655;
}



